@media(max-width: 1280px) {
    
    .cabecalho {
        padding: 30px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 30px;
    }

    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .projetos .container-projetos {
        padding: 0 30px;
    }
}

@media(max-width: 425px) {
    .home .informacoes h1 {
        font-size: 30px;
    }

    .home .informacoes p {
        font-size: 16px;
    }

    .home .container-foto img {
        max-width: 320px;
    }

    .projetos {
        padding: 30px;
    }
}

/* Esconde o botão hamburguer no desktop */
@media (min-width: 769px) {
    .menu-toggle {
      display: none;
    }
  
    .cabecalho .menu {
      display: flex !important; /* garante visibilidade no desktop */
      flex-direction: row;
      gap: 80px;
      background-color: transparent; /* se quiser tirar fundo do menu */
    }
  }
  


/* Esconde o botão mobile no desktop */
.btn-contraste-mobile {
  display: none;
}



@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  /* Sobrescreve o display padrão */
  .cabecalho .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: black;
    gap: 0;
    padding: 10px;
    margin-top: 10px;
  }

  .cabecalho .menu.show {
    display: flex;
  }

  .cabecalho__menu__link {
    padding: 15px 0;
    font-size: 24px;
    border-bottom: 1px solid #444;
    width: 100%;
    text-align: left;
    color: white;
  }

  .logo {
    margin-top: 10px;
  }


.btn-contraste-desktop {
    display: none !important;
  }

  .btn-contraste-mobile {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 999;
  }

  .btn-contraste-mobile button img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
}


.btn-contraste-mobile button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%; /* Deixa o botão redondo */
  overflow: hidden; /* Garante que a imagem não vaze */
}

.btn-contraste-desktop button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
}

.high-contrast .btn-contraste-desktop {
    border: 2px solid black
}


.high-contrast .btn-contraste-desktop img {
  filter: invert(1) hue-rotate(180deg);
}

.high-contrast .btn-contraste-mobile img {
  filter: invert(1) hue-rotate(180deg);
}